.ad{
  background-repeat: no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}
.ad-dash{
  background-image: url('../img/icons/left.png');
}
.ad-chart{
  background-image: url('../img/icons/chart.png');
}
.ad-person{
  background-image: url('../img/icons/person.png');
}
.ad-finance{
  background-image: url('../img/icons/finance.png');
}
.ad-table{
  background-image: url('../img/icons/mesas.png');
}
.ad-sell{
  background-image: url('../img/icons/sell.png');
}
.ad-stock{
  background-image: url('../img/icons/stock.png');
}
.ad-settings{
  background-image: url('../img/icons/settings.png');
}
.ad-report{
  background-image: url('../img/icons/report.png');
}
